.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8a1c77;
}

.container {
  display: flex;
  height: 80vh;
  border: 1px solid #570249;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: #fff;
}

.todoForm {
  width: 450px;
  display: flex;
  justify-content: space-around;
}

input {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

input:focus {
  outline: none;
}

button {
  border: none;
  padding: 10px;
  border-radius: 12px;
  margin: 0 5px;
}

.todoList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo {
  border-radius: 50px;
  margin: 10px 0;
  background-color: #b172a7;
  padding: 10px 50px;
  display: flex;
  width: 450px;
  align-items: center;
}

.todoText {
  flex: 1;
}
